.company{
  border-collapse: collapse;
}

.company tr{
  height: 7rem;
}

.company th{
  width: 150px;
  background-color: #fff;
  color: #000000;
}

.company td{
  width: 480px;
  padding-left: 1rem;
}

/* .company th:last-of-type {
  color: 008000;
}
#push {
  color: 008000;
  text-align: center
} */

/* input#submit_button {
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    border-style: none;
} */
